<header class="d-flex flex-column flex-md-row align-items-center p-1 px-md-4 mb-5 bg-white border-bottom shadow-sm">
	<h5 class="my-0 mr-md-auto font-weight-normal"><a href="{{ path('home') }}" class="navbar-brand text-body"><span class="far fa-laugh-beam"></span> Смехурко</a></h5>
	<nav class="navbar navbar-expand-lg navbar-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Включване/изключване на навигацията">
			<span class="fas fa-bars"></span>
		</button>
		<div class="my-2 my-md-0 mr-md-3 collapse navbar-collapse" id="main-navbar">
			<ul class="navbar-nav">
				<li class="nav-item px-2">
					<a class="nav-link" href="{{ path('app_joke_index') }}"><span class="fas fa-tags"></span> Теми</a>
				</li>
				<li class="nav-item px-2">
					<a class="nav-link" href="{{ path('app_joke_random') }}"><span class="fas fa-magic"></span> Случайна смешка</a>
				</li>
			</ul>
			<form class="form-inline mx-3 my-2 my-lg-0" action="{{ path('app_joke_index') }}">
				<div class="input-group">
					<input name="q" value="{{ searchQuery|default('') }}" class="form-control" type="search" placeholder="Смехурко..." aria-label="Търсене">
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="submit"><span class="fas fa-search"></span><span class="sr-only">Търсене</span></button>
					</div>
				</div>
			</form>
			{% if app.user.isRegistered %}
				<div class="navbar-nav nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="fas fa-user-alt"></span> {{ app.user.username }}
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
						<a href="{{ path('app_joke_newsubmission') }}" class="dropdown-item"><span class="fas fa-plus fa-fw"></span> Добавяне на смешка</a>
						<a href="{{ path('app_joke_listsubmissions') }}" class="dropdown-item"><span class="fas fa-cubes fa-fw"></span> Предложени смешки</a>
					</div>
				</div>
			{% else %}
				<a href="//chitanka.info/login?returnto={{ url('home')|url_encode }}" class="nav-item nav-link"><span class="fas fa-sign-in-alt"></span> Вход</a>
			{% endif %}
		</div>
	</nav>
</header>
