<article class="card joke">
	<div class="card-body joke-body">
		{% if joke.title %}
			<h5 class="card-title joke-title">{{ joke.title }}</h5>
			{% if joke.subtitle %}
				<h6 class="card-subtitle mb-2 text-muted">{{ joke.subtitle }}</h6>
			{% endif %}
		{% endif %}
		<div class="card-text joke-text">{{ joke.content|format_content|raw }}</div>
	</div>
	<footer class="card-footer joke-links">
		<a href="{{ path('app_joke_show', {id: joke.id}) }}" class="card-link text-muted" title="Пряка връзка към смешката"><span class="fas fa-link"></span></a>
		{% if app.user.canEditJokes() %}
			<a href="{{ path('app_joke_edit', {id: joke.id}) }}" class="card-link text-muted" title="Редактиране"><span class="far fa-edit"></span></a>
		{% endif %}
		{% for theme in joke.themes %}
			<a href="{{ path('app_joke_listbytheme', {slug: theme.slug}) }}" class="card-link text-muted"><span class="fas fa-tag"></span> {{ theme.name }}</a>
		{% endfor %}
		{% if joke.source %}
			<a href="{{ path('app_joke_listbysource', {slug: joke.source.slug}) }}" class="card-link text-muted" title="Източник"><span class="fas fa-book"></span> {{ joke.source.name }}</a>
		{% endif %}
		{% if joke.creator %}
			<span class="card-link text-muted" title="Добавена от"><span class="fa fa-user"></span> {{ joke.creator }}</span>
		{% endif %}
		<time class="small text-muted float-right" datetime="{{ joke.createdAt|date('Y-m-d H:i:s') }}" title="Добавена на"><span class="far fa-clock"></span> {{ joke.createdAt|date('d.m.Y H:i') }}</time>
	</footer>
</article>
